<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>San Diego Top Spots</title>
		<meta charset="utf-8" name="BahmanSadiq" >
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
		<!-- endbower -->

<!-- inject:css -->
<link rel="stylesheet" href="/app/style/styles.css">
<!-- endinject -->
</head>
<body ng-controller="MainController">
<div class ="main">
<div class="container table-responsive">
	<h1> San Diego Top Spots in Angular</h1>
	<legend>  </legend>
	<p>There are some great places to see in downtown San Diego. In this project you'll get to know a few of them by turning the provided JSON file into a table in HTML with links to Google Maps using Angular.</p>
	 <div class="form-group">
	<!-- 	<div ng-model="map" id="map" class="col-md-12" style="height: 400px"></div> -->
	<table class="table text-left" ng-model="name">
	  <tr>
	  	<div class="col-md-2 ">
	    <th>Name</th>
	    </div>

	    <div class="col-md-8">
	    <th>Description</th> 
	    </div>
	    <div class="col-md-2">
	    <th>Link</th>
	    </div>
	  </tr>


	  <tr ng-repeat="data in place">
	  	  <div class="col-md-2 ">
		  	<td >{{data.name}}</td>
		  </div>

		  <div class="col-md-8">
					 <td>{{data.description}}</td> 
		   </div>
			<div class="col-md-2">
						<td><a href="https://www.google.com/maps?q={{data.location[0]}}, {{data.location[1]}}"> <button class="btn btn-primary">Open in Google Maps</button></a></td>
			</div>
	  </tr>
	</table>

	</div>

</div>
<!-- if the user click yes then popup the form to get user input and then add to the list . -->
<div class="container">
  <div class="form-group col-md-12 ">
  		<label class="col-md-4 col-md-offse-2">Do you want to add a new topspot place in downtown San Diego?</label>
  		<button id="inputYes" class="form-group col-md-1 active btn btn-primary">Yes</button>
  </div>
 </div>

<form class="container ">

  <div class="form-group col-md-2 col-md-offse-2  ">

    <label>Name</label>
    <input type="text" class="form-control" ng-model="addName" >
  </div>

  <div class="form-group  col-md-7">
  		<label>Description</label>
		<textarea class="form-control rows=3" ng-model="addDescription"></textarea>
  </div>

   <div class="form-group col-md-2">
   	 <label >Address</label>
   	 <input class="form-control" ng-model="addLocation">
  </div>
  <div class="col-md-1"> <br>
 	 <button type="submit"  class="btn btn-primary" ng-click="submitButton()" >Submit</button>
  </div>
</form>
</div>
	<!--<script type="text/javascript" src="index.js"></script>
	
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZOpkZdWFA1PGIHHwdUY5mjp5cJF68zG8&callback=initMap"
    async defer></script>
    -->

    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
<!-- inject:js -->
<script src="/app/app.js"></script>
<!-- endinject -->
</body>
</html>